<script>
export default {
  name: 'Menu',
  //waiting to parent
  props: {
    shop: {type: Function},
    item: Object
    },
  methods: {
    doShopping(quantity){
      this.shop(quantity);//pass to parent method
    }
  }
};
</script>
<template>
  <div>
    <img class="menu-item__image" :src="item.image.source" :alt="item.image.alt">
    <div>
      <h3>{{ item.name }}</h3>
      <p v-if="item.inStock">En stock</p>
      <p v-else>En rupture de stock</p>
      <div>
        <label for="add-item-quantity">Quantité : {{ item.quantity }}</label>
        <input v-model.number="item.quantity" id="add-item-quantity" type="number">
        <button @click="doShopping(item.quantity)">Ajouter au panier d'achat</button>
      </div>
    </div>
  </div>
</template>

<style></style>
