<script>
export default {
  name: "Menu",
  //waiting to parent
  props: {
    shop: { type: Function },
    item: Object
  },
  methods: {
    doShopping(quantity) {
      this.shop(quantity); //pass to parent method
    },
    reduce() {
      const day = new Date().getDay();
      if (day % 2 === 0) {
        this.item.price = (this.item.price * 0.9).toFixed(2);
      } else {
        this.item.price = (this.item.price * 0.95).toFixed(2);
      }
    }
  },
  beforeMount() {
    this.reduce();
  }
};
</script>
<template>
  <div>
    <img class="menu-item__image" :src="item.image.source" :alt="item.image.alt">
    <div>
      <h3>{{ item.name }}</h3>
      <p>Price: {{ item.price }} FCFA</p>
      <p v-if="item.inStock">En stock</p>
      <p v-else>En rupture de stock</p>
      <div>
        <label for="add-item-quantity">Quantité : {{ item.quantity }}</label>
        <input v-model.number="item.quantity" id="add-item-quantity" type="number">
        <button @click="doShopping(item.quantity)">Ajouter au panier d'achat</button>
      </div>
    </div>
  </div>
</template>

<style></style>