<script>
export default {
  data() {
    return {
      address: "6014, Yaounde, Cameroun",
      email: "contact@enable.cm",
      phone: "+237 672 492 144",
    }
  }
}
</script>
<template>
  <div id="contact">
    <h2>Contactez nous</h2>
    <p>Adresse : {{ address }}</p>
    <p>Téléphone : {{ phone }}</p>
    <p>Email : {{ email }}</p>
    <p>Horaires :</p>
    <ul>
      <li>L-V: 06:00 à 16:00</li>
      <li>Samedi: 07:00 à 14:00</li>
      <li>Dimanche: 07:00 à 12:00</li>
    </ul>
    <footer class="footer">
      <p>{{ copyright }}</p>
    </footer>
  </div>
</template>